<!DOCTYPE html>
<html>
<head>
  <title>Harbortxtl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<div class="headerphoto">
<div class="headertext"></div>
<!--<div class="logo">
		
</div> -->
<div class="navbar">
	<ul>
		<li>
			<%= link_to 'HOME', staticpages_home_path, class: 'navlink' %>
		</li>
		<li>
			<%= link_to 'ABOUT', staticpages_about_path, class: 'navlink' %>
		</li>
		<li>
			<%= link_to 'PRODUCTS', staticpages_products_path, class: 'navlink' %>  
		</li>	
		<li>
			<%= link_to 'CONTACT', staticpages_contact_path, class: 'navlink' %>
		</li>
	</ul>	
</div>

<div class="sidebar">
<img src="https://photos-1.dropbox.com/s/itze8fsxlklx6ym/logo.png?dl=0?" alt="" id="logo">
	<ul>
		<li>Phone: (978) 946-9473</li>
		<li>Fax: (978) 683-9473</li>
		<li>Email: gary@harbortextiles.com</li>
	<br>
	<br>
		<li>Harbor Textiles</li>
		<li>15 Union Street</li>
		<li>Lawrence, MA 01840</li>
	<br>
	<br>
		<li>Hours of Operation:</li> 
		<li>Monday through Friday</li>
		<li>8:00 a.m. -5:00 p.m. EST</li>
</div>


<%= yield %>



	
		
</body>
</html>
